<div class="row">
  <div class="text-center">
    <h1>Listing Fields</h1>

    <br />

    <%= link_to 'New Field', new_field_path, class: 'btn btn-success' %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= Field.types[field.field_type] %></td>
        <td><%= field.description %></td>
        <td>
          <%= link_to 'Show', field, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_field_path(field), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
