<div class="header clearfix">
  <nav class="header-menu">
    <ul class="nav nav-pills pull-left">
      <!-- <li role="presentation"><a href="<%= root_path %>">Home</a></li> -->
      <% if current_user %>
        <li role="presentation"><%= link_to "My Contacts", contacts_path %></li>
        <li role="presentation"><%= link_to "My Fields", fields_path %></li>
        <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
        <li> <span class="label label-success user-hail"> <%= "Hi, #{current_user.email}" %> </span> </li>
      <% end %>
    </ul>


  </nav>
  <h2 class="pull-right"> <span class="label label-primary"> RD Contact List Challange <span> </h2>
</div>
